:root {
  /* light theme */
  --switch-color: #00e0bb;
  --main-bg-color: #ffffff;
  --switch-shade-color: #00b99a;
  --footer-color: #58e0ca56;
  --subtitle-color: #008871;
  /* dark theme */
  --d-switch-color: #e08600;
  --d-font-color: #ffffff;
  --d-main-bg-color: #001b27;
  --d-switch-shade-color: #b36b00;
  --d-subtitle-color: #ff9900;
}
body {
  margin: 0;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 {
  font-weight: 300;
}
p {
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--switch-color);
}

a.darkLink {
  border-bottom: 2px solid var(--d-switch-color);
}

header {
  padding: 120px 10px 100px 10px;
  box-sizing: border-box;
}
section {
  padding: 50px 0;
  box-sizing: border-box;
}
footer {
  background-color: var(--footer-color);
  padding: 20px 30px;
}

.section-content {
  padding: 0 30px;
}

.container {
  margin: 0 auto;
  width: 90%;
}
.bold {
  font-weight: 600;
}
.section-title {
  color: var(--subtitle-color);
  font-weight: 500;
}

/* .bubbling-icons {
  box-shadow: inset 3px 3px 6px -2px grey;
  animation-name: bubblinger-vert-down;
  border-radius: 60px;
  width: 154px;
  height: 154px;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  background-image: url('./resources/icons.png');
  background-size: 154px 462px;
}

@keyframes bubblinger-vert-down {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: 0 154px;
  }
  35% {
    background-position: 0 154px;
  }
  40% {
    background-position: 0 308px;
  }
  68% {
    background-position: 0 308px;
  }
  73% {
    background-position: 0 462px;
  }
  100% {
    background-position: 0 462px;
  }
} */
.bubbling-icons {
  box-shadow: inset 3px 3px 6px -2px grey;
  animation-name: bubblinger-vert-down;
  border-radius: 60px;
  width: 100px;
  height: 100px;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1);
  background-image: url('./resources/icons.png');
  background-size: 100px 300px;
}

@keyframes bubblinger-vert-down {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: 0 100px;
  }
  35% {
    background-position: 0 100px;
  }
  40% {
    background-position: 0 200px;
  }
  68% {
    background-position: 0 200px;
  }
  73% {
    background-position: 0 300px;
  }
  100% {
    background-position: 0 300px;
  }
}

/* MEDIA QUERIES */
@media (min-width: 360px) {
  h1 {
    font-size: 1.7rem;
  }
  h2,
  h3 {
    font-weight: 300;
    font-size: 1.4rem;
  }
  .intro {
    max-width: 450px;
  }
  .container {
    width: 85%;
  }
}
@media (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2,
  h3 {
    font-weight: 300;
    font-size: 1.7rem;
  }
  p {
    font-size: 1.3rem;
  }
}
@media (min-width: 900px) {
  .section-title {
    min-width: 235px;
    margin-top: 0;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }
  .section-content p {
    margin-top: 0.7rem;
  }

  .section-content {
    min-width: 500px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2,
  h3 {
    font-weight: 300;
    font-size: 1.7rem;
  }
  .intro {
    max-width: 700px;
  }
}
/* DARK THEME CLASSES */
.App {
  width: 100%;
  background-color: var(--main-bg-color);
  transition: background-color 0.6s;
}

.darkBg {
  background-color: var(--d-main-bg-color);
  color: var(--d-font-color);
  transition: background-color 0.6s;
}
.darkTitle {
  color: var(--d-subtitle-color);
}
/* SLIDER */
.switch-container {
  position: absolute;
  display: flex;
  top: 10px;
  right: 20px;
}
/* Container around the slider */
.switch {
  position: relative;
  margin: 10px 10px 0 10px;
  display: inline-block;
  width: 47px;
  height: 25px;
}

/* Hide default HTML checkbox */
input,
input:focus,
.slider {
  outline: none;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 12px;
  box-shadow: inset 1px 1px 3px 2px var(--switch-shade-color);
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: '';
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: var(--main-bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--d-switch-color);
  box-shadow: inset 1px 1px 3px 2px var(--d-switch-shade-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
